@media only screen and (max-width: 340px){
    .harea .main-menu .navbar,
    .harea .main-menu .navbar .navbar-brand,
    .site-main .services,
    {
        padding: 0%;
        margin: 0%;
    }

    .site-main .site-banner .site-title h1{
        font-size: 41px;
    }


    .site-main > .services.serve{
        width: 13rem;
    }

}


@media only screen and (max-width: 792px){
    .site-main .about .about-title h2 > span{
        font-size: 31px;
        letter-spacing: 10px;
    }

    .site-main .about .about-title p{
        padding: 0%;
    }

}




@media only screen and (max-width: 1910px){
    .harea .main-menu .navbar{
        padding: 1rem;
    }

    .container{
        max-width: 90%;
    }


    .site-main .services.services-title,
    .site-main .about{
        padding: 3% 4%;
    }


}